.cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem 1.5rem;
}
.title {
  text-align: center;
  color: rgb(0 98 204);
  margin: 2rem 0;
  font-family: serif;
  font-weight: 700;
  font-size: 3rem;
}
